@import "icons.css";
/*@import "layout.css"; /*may get added later*/
@import "modules.css";
@import "desktop.css" (min-width: 850px);
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two');
@import url('https://fonts.googleapis.com/css?family=Pacifico');






.template {
  display: none;
}



body {
  font-family: 'Shadows Into Light Two', cursive;
  line-height: 1.25em;
  font-size: 100%;
  background-color: #b06fe2;
}

footer {
  color: white;
  display:inline-block;
  text-align: center;
}

#classPhoto {
  max-width: 50%;
  width: 400px;
  text-align: center;
}

.titleBlock {
  background: #7534a8;
  color: white;
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 5em;
  text-shadow: 2px 2px #a42ab2;
  display: inline-block;
  text-align: center;
  width: 100%;
}


#videosList {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0px 80px; }
  @media (max-width: 1250px) {
    #videosList {
      padding: 0px 50px; } }
  @media (max-width: 900px) {
    #videosList {
      padding: 60px 20px; } }
  #videosList .video {
    width: 30%;
    display: inline-block;
    float: left;
    position: relative;
    overflow: hidden; }
    @media (max-width: 500px) {
      #videosList .video {
        width: 100%; } }
    #videosList .video .videoSlate {
      width: 100%;
      height: 0;
      padding: 60% 0 0 0;
      -webkit-transition: 5000ms 50ms;
      -moz-transition: 5000ms 50ms;
      transition: 5000ms 50ms; }
      #videosList .video .videoSlate:after {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
        -webkit-transition: 500ms 50ms;
        -moz-transition: 500ms 50ms;
        transition: 500ms 50ms; }
      #videosList .video .videoSlate video {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute; }
    #videosList .video .videoListCopy {
      display: inline-block;
      text-align: center;
      width: 100%;
      z-index: 20; }


/*PHONE FONTS -- http://typecast.com/blog/a-more-modern-scale-for-web-typography*/
h1  {
  font-size: 2em;
  line-height: 1.25em;
}

h2  {
  font-size: 1.625em;
  line-height: 1.15384615em;
  text-align: center;
  color: #7534a8;
}

h3  {
  font-size: 3em;
  line-height: 1.13636364em;
  text-align: center;
  font-family: 'Pacifico', cursive;
  color: #7534a8;
  text-shadow: 1px 1px white;
}

h4  {
  font-size: 1.125em;
  line-height: 1.1111em;
}
