@media (min-width: 850px) {
  .main-nav ul {
    text-align: center;
    display: block;
  }
  .main-nav li {
    display: inline-block;
    padding: 3em;
  }

  .icon-menu {
    display: none;
  }
}

/*DESKTOP FONTS -- http://typecast.com/blog/a-more-modern-scale-for-web-typography*/
h1  {
  font-size: 3em;
  line-height: 1.05em;
}

h2  {
  font-size: 2.25em;
  line-height: 1.25em;
}

h3  {
  font-size: 1.75em;
  line-height: 1.25em;
}

h4  {
  font-size: 1.125em;
  line-height: 1.2222em;
}

/*----images in grid:----*/
#projectsContainer {
  display: flex;
  flex-wrap: wrap;
}

#projectsContainer>article {
  max-width: 30%;
}
