
.heading-group-h1 {
  float: left;
  padding: 0 0 .2em 1em;
}

.icon-menu {
  font-size: 2em;
  float: right;
}
i
.main-nav {
  padding: 0.1em;
}

.main-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

.main-nav:hover ul {
  display: block;
}

.main-nav li {
  margin-right: .4em;
  font-size: 1.5em;
  padding: .5em .2em;
  border-bottom: 1px solid #ccc;
}

/*https://www.impressivewebs.com/image-tint-blend-css/*/
.tinted-image {
  position: relative;
float: left;
height: 225px;
width: 285px;
margin-top: 0;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left:0;

}

.tinted-image img {
  width: inherit;
  height: inherit;
}

.projSummary h1 a:link {
  color: #DFDCE3;
  text-shadow: #777 1px 0 10px; /* color | offset-x | offset-y | blur-radius */
}

.projSummary h1 a:visited {
  color: #eea309;
  text-shadow: #FFFFFF 1px 0 10px;
}

.projSummary h1 a:hover {
  color: #777;
  text-shadow: #DFDCE3 1px 0 10px;
}
